<!-- Header -->
<div class="header center header-color-dark transparent-light sticky">
    <div class="container">
        <!-- Logo -->
        <div class="header-logo">
            <h3 class="uppercase letter-spacing-1"><a href="#">mono</a></h3>
            <!-- 
            <img class="logo-dark" src="../assets/images/your-logo-dark.png" alt="">
            <img class="logo-light" src="../assets/images/your-logo-light.png" alt=""> 
            -->
        </div>
        <!-- Menu -->
        <div class="header-menu">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#testimonial">Testimonial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- Menu Extra -->
        <div class="header-menu-extra">
            <ul class="list-inline-sm">
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
            </ul>
        </div>
        <!-- Menu Toggle -->
        <button class="header-toggle">
            <span></span>
        </button>
    </div><!-- end container -->
</div>
<!-- end Header -->